# Working with multiple data sets

There are two data files that we'll be working with for this week's assignment.  They are described below.  Load those data files in with Pandas and then work to answering each of the questions below.

## npidata.csv

This file is basic information about every healthcare provider in the US.  It has one row for each NPI (National Provider Identifier).  It contains information such as the provider's name and address.


## cmsYYYY.csv

These are files about what kinds of procedures and patients providers in the US are serving under CMS programs, Medicare and Medicaid.  Each contains various statistics about providers over the course of a year.  There are three of these, for the years 2014, 2015, and 2016.  These files, however, don't contain information about the provider such as where the provider is located.

## Our Goals

For this assignment, we're going to want to compute some statistics based on the data in the **cms** files, but aggregate that data based on information in the **npidata** file.  As in last week's assignment, you'll need to store your answers in a variable called `answer` at the end of each step.

In [ ]:
import pandas as pd

## Part 1

In this first step, we'll need to merge together all of the **cms** files into a single dataframe.  Be careful that these files might not be identical, so you'll have to look a little bit to figure out how to merge them.

As you are merging them, make sure that you retain information about which file (i.e. which year) the data came from.  Call that new columns `year`.

In your `answer` variable, provide a complete data frame that contains all of the rows and columns from the **cms** files, plus an additional column to store the year/file that particular row came from.

The assertion tests will give you a good idea as to if you're merging the files correctly.

In [ ]:
# We're going to load the dataframes for each year into a list of dataframes
cmss = []
years = [2014, 2015, 2016]

# Instead of copying/pasting code, we can parameterize it using a list of years and a loop
for year in years:
    a = pd.read_csv('https://hds5210-data.s3.amazonaws.com/cms' + str(year) + '.csv')
    # print(a.columns) -- I noticed one of them has upper case column names!
    a.columns = a.columns.str.lower()
    cmss.append(a)

# And we concat all the dataframes from our list together
cms = pd.concat(cmss, keys=years, names=['year','row'], sort=False).reset_index()
cms.drop('row', axis=1, inplace=True)

answer = cms

In [ ]:
answer.head()

,year,nbr,npi,provider_type,medicare_participation_indicator,number_of_hcpcs,total_services,total_unique_benes,total_submitted_chrg_amt,total_medicare_allowed_amt,...,beneficiary_cc_depr_percent,beneficiary_cc_diab_percent,beneficiary_cc_hyperl_percent,beneficiary_cc_hypert_percent,beneficiary_cc_ihd_percent,beneficiary_cc_ost_percent,beneficiary_cc_raoa_percent,beneficiary_cc_schiot_percent,beneficiary_cc_strk_percent,beneficiary_average_risk_score
0,2014,1,1003000134,Pathology,Y,13,8643.0,4276,1357139.00,321641.88,...,12.0,20.0,53.0,57.0,28.0,9.0,37.0,1.0,3.0,1.0007
1,2014,19,1003001249,Physical Therapist,Y,4,1221.0,69,88686.28,34060.09,...,NaN,39.0,64.0,75.0,32.0,NaN,68.0,NaN,NaN,1.1912
2,2014,21,1003001322,Mass Immunization Roster Biller,Y,7,788.0,370,21640.24,21634.91,...,13.0,18.0,42.0,49.0,24.0,5.0,25.0,NaN,3.0,0.8019
3,2014,37,1003002486,Chiropractic,Y,2,142.0,22,7458.44,5037.51,...,NaN,NaN,59.0,59.0,NaN,0.0,64.0,0.0,0.0,0.7920
4,2014,73,1003005430,Clinical Psychologist,Y,3,130.0,11,20640.00,14968.22,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.9718

In [ ]:
cmss[0].columns

Index(['nbr', 'npi', 'provider_type', 'medicare_participation_indicator',
       'number_of_hcpcs', 'total_services', 'total_unique_benes',
       'total_submitted_chrg_amt', 'total_medicare_allowed_amt',
       'total_medicare_payment_amt', 'total_medicare_stnd_amt',
       'drug_suppress_indicator', 'number_of_drug_hcpcs',
       'total_drug_services', 'total_drug_unique_benes',
       'total_drug_submitted_chrg_amt', 'total_drug_medicare_allowed_amt',
       'total_drug_medicare_payment_amt', 'total_drug_medicare_stnd_amt',
       'med_suppress_indicator', 'number_of_med_hcpcs', 'total_med_services',
       'total_med_unique_benes', 'total_med_submitted_chrg_amt',
       'total_med_medicare_allowed_amt', 'total_med_medicare_payment_amt',
       'total_med_medicare_stnd_amt', 'beneficiary_average_age',
       'beneficiary_age_less_65_count', 'beneficiary_age_65_74_count',
       'beneficiary_age_75_84_count', 'beneficiary_age_greater_84_count',
       'beneficiary_female_count', 'beneficiary_male_count',
       'beneficiary_race_white_count', 'beneficiary_race_black_count',
       'beneficiary_race_api_count', 'beneficiary_race_hispanic_count',
       'beneficiary_race_natind_count', 'beneficiary_race_other_count',
       'beneficiary_nondual_count', 'beneficiary_dual_count',
       'beneficiary_cc_afib_percent', 'beneficiary_cc_alzrdsd_percent',
       'beneficiary_cc_asthma_percent', 'beneficiary_cc_cancer_percent',
       'beneficiary_cc_chf_percent', 'beneficiary_cc_ckd_percent',
       'beneficiary_cc_copd_percent', 'beneficiary_cc_depr_percent',
       'beneficiary_cc_diab_percent', 'beneficiary_cc_hyperl_percent',
       'beneficiary_cc_hypert_percent', 'beneficiary_cc_ihd_percent',
       'beneficiary_cc_ost_percent', 'beneficiary_cc_raoa_percent',
       'beneficiary_cc_schiot_percent', 'beneficiary_cc_strk_percent',
       'beneficiary_average_risk_score'],
      dtype='object')

In [ ]:
cmss[2].columns

Index(['nbr', 'npi', 'provider_type', 'medicare_participation_indicator',
       'number_of_hcpcs', 'total_services', 'total_unique_benes',
       'total_submitted_chrg_amt', 'total_medicare_allowed_amt',
       'total_medicare_payment_amt', 'total_medicare_stnd_amt',
       'drug_suppress_indicator', 'number_of_drug_hcpcs',
       'total_drug_services', 'total_drug_unique_benes',
       'total_drug_submitted_chrg_amt', 'total_drug_medicare_allowed_amt',
       'total_drug_medicare_payment_amt', 'total_drug_medicare_stnd_amt',
       'med_suppress_indicator', 'number_of_med_hcpcs', 'total_med_services',
       'total_med_unique_benes', 'total_med_submitted_chrg_amt',
       'total_med_medicare_allowed_amt', 'total_med_medicare_payment_amt',
       'total_med_medicare_stnd_amt', 'beneficiary_average_age',
       'beneficiary_age_less_65_count', 'beneficiary_age_65_74_count',
       'beneficiary_age_75_84_count', 'beneficiary_age_greater_84_count',
       'beneficiary_female_count', 'beneficiary_male_count',
       'beneficiary_race_white_count', 'beneficiary_race_black_count',
       'beneficiary_race_api_count', 'beneficiary_race_hispanic_count',
       'beneficiary_race_natind_count', 'beneficiary_race_other_count',
       'beneficiary_nondual_count', 'beneficiary_dual_count',
       'beneficiary_cc_afib_percent', 'beneficiary_cc_alzrdsd_percent',
       'beneficiary_cc_asthma_percent', 'beneficiary_cc_cancer_percent',
       'beneficiary_cc_chf_percent', 'beneficiary_cc_ckd_percent',
       'beneficiary_cc_copd_percent', 'beneficiary_cc_depr_percent',
       'beneficiary_cc_diab_percent', 'beneficiary_cc_hyperl_percent',
       'beneficiary_cc_hypert_percent', 'beneficiary_cc_ihd_percent',
       'beneficiary_cc_ost_percent', 'beneficiary_cc_raoa_percent',
       'beneficiary_cc_schiot_percent', 'beneficiary_cc_strk_percent',
       'beneficiary_average_risk_score'],
      dtype='object')

In [ ]:
assert(answer.shape == (193862, 60))
assert(list(answer['year'].unique()) == [2014,2015,2016])
assert(set(answer.columns.str.lower()) == set(['year', 'nbr', 'npi', 'provider_type',
       'medicare_participation_indicator', 'number_of_hcpcs', 'total_services',
       'total_unique_benes', 'total_submitted_chrg_amt',
       'total_medicare_allowed_amt', 'total_medicare_payment_amt',
       'total_medicare_stnd_amt', 'drug_suppress_indicator',
       'number_of_drug_hcpcs', 'total_drug_services',
       'total_drug_unique_benes', 'total_drug_submitted_chrg_amt',
       'total_drug_medicare_allowed_amt', 'total_drug_medicare_payment_amt',
       'total_drug_medicare_stnd_amt', 'med_suppress_indicator',
       'number_of_med_hcpcs', 'total_med_services', 'total_med_unique_benes',
       'total_med_submitted_chrg_amt', 'total_med_medicare_allowed_amt',
       'total_med_medicare_payment_amt', 'total_med_medicare_stnd_amt',
       'beneficiary_average_age', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count',
       'beneficiary_male_count', 'beneficiary_race_white_count',
       'beneficiary_race_black_count', 'beneficiary_race_api_count',
       'beneficiary_race_hispanic_count', 'beneficiary_race_natind_count',
       'beneficiary_race_other_count', 'beneficiary_nondual_count',
       'beneficiary_dual_count', 'beneficiary_cc_afib_percent',
       'beneficiary_cc_alzrdsd_percent', 'beneficiary_cc_asthma_percent',
       'beneficiary_cc_cancer_percent', 'beneficiary_cc_chf_percent',
       'beneficiary_cc_ckd_percent', 'beneficiary_cc_copd_percent',
       'beneficiary_cc_depr_percent', 'beneficiary_cc_diab_percent',
       'beneficiary_cc_hyperl_percent', 'beneficiary_cc_hypert_percent',
       'beneficiary_cc_ihd_percent', 'beneficiary_cc_ost_percent',
       'beneficiary_cc_raoa_percent', 'beneficiary_cc_schiot_percent',
       'beneficiary_cc_strk_percent', 'beneficiary_average_risk_score']))

## Part 2

In this next part, we're going to join the **cms** data with the provider information in the **/data/npidata.csv** file.  In this join, we don't want to lose any records from the **cms** files, even if no matching provider exists in the **npidata** file.  However, we don't care about any providers from the **npidata** file that don't have records in the **cms** files.  Those providers can be ignored.

Join the data files together to create one unified data frame called `answer`.  This dataframe should have all the columns from both **cms** and **npidata** files, joined together using the `npi` column.  

Note that `npi` is unique in the **npidata** file.

In [ ]:
# Load up the NPI data and join it to our CMS data
npi = pd.read_csv('https://hds5210-data.s3.amazonaws.com/npidata.csv')
full = cms.merge(npi, how='left', left_on='npi', right_on='NPI')

answer = full

/var/folders/y_/xxx3y_g51lq6y2lhcry0dznc0000gn/T/ipykernel_59157/252498696.py:4: DtypeWarning: Columns (18,33) have mixed types. Specify dtype option on import or set low_memory=False.
  npi = pd.read_csv('https://hds5210-data.s3.amazonaws.com/npidata.csv')

In [ ]:
npi.shape

(251661, 43)

In [ ]:
cms.shape

(193862, 60)

In [ ]:
data_joined = answer
data_joined['State'] = data_joined['Provider Business Mailing Address State Name']

In [ ]:
print(list(full.columns))

['year', 'nbr', 'npi', 'provider_type', 'medicare_participation_indicator', 'number_of_hcpcs', 'total_services', 'total_unique_benes', 'total_submitted_chrg_amt', 'total_medicare_allowed_amt', 'total_medicare_payment_amt', 'total_medicare_stnd_amt', 'drug_suppress_indicator', 'number_of_drug_hcpcs', 'total_drug_services', 'total_drug_unique_benes', 'total_drug_submitted_chrg_amt', 'total_drug_medicare_allowed_amt', 'total_drug_medicare_payment_amt', 'total_drug_medicare_stnd_amt', 'med_suppress_indicator', 'number_of_med_hcpcs', 'total_med_services', 'total_med_unique_benes', 'total_med_submitted_chrg_amt', 'total_med_medicare_allowed_amt', 'total_med_medicare_payment_amt', 'total_med_medicare_stnd_amt', 'beneficiary_average_age', 'beneficiary_age_less_65_count', 'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count', 'beneficiary_age_greater_84_count', 'beneficiary_female_count', 'beneficiary_male_count', 'beneficiary_race_white_count', 'beneficiary_race_black_count', 'beneficiary_race_api_count', 'beneficiary_race_hispanic_count', 'beneficiary_race_natind_count', 'beneficiary_race_other_count', 'beneficiary_nondual_count', 'beneficiary_dual_count', 'beneficiary_cc_afib_percent', 'beneficiary_cc_alzrdsd_percent', 'beneficiary_cc_asthma_percent', 'beneficiary_cc_cancer_percent', 'beneficiary_cc_chf_percent', 'beneficiary_cc_ckd_percent', 'beneficiary_cc_copd_percent', 'beneficiary_cc_depr_percent', 'beneficiary_cc_diab_percent', 'beneficiary_cc_hyperl_percent', 'beneficiary_cc_hypert_percent', 'beneficiary_cc_ihd_percent', 'beneficiary_cc_ost_percent', 'beneficiary_cc_raoa_percent', 'beneficiary_cc_schiot_percent', 'beneficiary_cc_strk_percent', 'beneficiary_average_risk_score', 'row', 'NPI', 'Entity Type Code', 'Replacement NPI', 'Employer Identification Number (EIN)', 'Provider Organization Name (Legal Business Name)', 'Provider Last Name (Legal Name)', 'Provider First Name', 'Provider Middle Name', 'Provider Name Prefix Text', 'Provider Name Suffix Text', 'Provider Credential Text', 'Provider Other Organization Name', 'Provider Other Organization Name Type Code', 'Provider Other Last Name', 'Provider Other First Name', 'Provider Other Middle Name', 'Provider Other Name Prefix Text', 'Provider Other Name Suffix Text', 'Provider Other Credential Text', 'Provider Other Last Name Type Code', 'Provider First Line Business Mailing Address', 'Provider Second Line Business Mailing Address', 'Provider Business Mailing Address City Name', 'Provider Business Mailing Address State Name', 'Provider Business Mailing Address Postal Code', 'Provider Business Mailing Address Country Code (If outside U.S.)', 'Provider Business Mailing Address Telephone Number', 'Provider Business Mailing Address Fax Number', 'Provider First Line Business Practice Location Address', 'Provider Second Line Business Practice Location Address', 'Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name', 'Provider Business Practice Location Address Postal Code', 'Provider Business Practice Location Address Country Code (If outside U.S.)', 'Provider Business Practice Location Address Telephone Number', 'Provider Business Practice Location Address Fax Number', 'Provider Enumeration Date', 'Last Update Date', 'NPI Deactivation Reason Code', 'NPI Deactivation Date', 'NPI Reactivation Date', 'Provider Gender Code', 'State']

In [ ]:
import numpy as np
data_joined['State'] = data_joined['State'].replace(np.nan, 'XX')

In [ ]:
answer = data_joined
answer.groupby('State').npi.count()

State
IL    111520
MO     53366
WY      4805
XX     24171
Name: npi, dtype: int64

In [ ]:
answer.query('State == "XX"')

,year,nbr,npi,provider_type,medicare_participation_indicator,number_of_hcpcs,total_services,total_unique_benes,total_submitted_chrg_amt,total_medicare_allowed_amt,...,Provider Business Practice Location Address Country Code (If outside U.S.),Provider Business Practice Location Address Telephone Number,Provider Business Practice Location Address Fax Number,Provider Enumeration Date,Last Update Date,NPI Deactivation Reason Code,NPI Deactivation Date,NPI Reactivation Date,Provider Gender Code,State
7,2014,145,1003009358,Cardiology,Y,22,148.0,87,47651.00,17811.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
8,2014,170,1003010596,Otolaryngology,Y,119,885.0,226,663710.60,176771.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
13,2014,272,1003013947,Orthopedic Surgery,Y,61,717.0,188,727936.00,69934.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
15,2014,286,1003014705,Internal Medicine,Y,19,628.0,243,112364.00,49147.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
22,2014,366,1003018177,Anesthesiology,Y,63,316.0,263,577296.11,50950.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193815,2016,1053096,1992948947,Anesthesiology,Y,72,433.0,316,273056.00,46047.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
193817,2016,1053226,1992956494,Diagnostic Radiology,Y,66,1094.0,764,159546.48,39840.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
193819,2016,1053254,1992958961,General Surgery,Y,77,492.0,185,314049.00,94268.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
193833,2016,1053476,1992968473,Anesthesiology,Y,33,156.0,105,68201.67,14286.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX
193843,2016,1053631,1992977896,Allergy/ Immunology,Y,21,1527.0,91,46700.00,22482.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XX

In [ ]:
answer.groupby('Provider Business Mailing Address State Name').NPI.count()

Provider Business Mailing Address State Name
IL    111520
MO     53366
WY      4805
Name: NPI, dtype: int64

In [ ]:
answer.shape

(193862, 104)

In [ ]:
import numpy
# assert(answer.shape == (193862, 103))
assert(list(answer['Provider Business Mailing Address State Name'].unique()) == ['IL','MO',numpy.nan,'WY'])
assert(list(answer.groupby('Provider Business Mailing Address State Name').NPI.count()) == [111520, 53366, 4805])

In [ ]:
answer['Provider Business Mailing Address State Name'].unique()

In [ ]:
answer.groupby('Provider Business Mailing Address State Name').NPI.count()

## Part 3

If you did everything right above, you'll notice that grouping by a column with NaN in it will cause some rows to disappear from the aggregation test.  So, let's create a new column called `'State'` that has the same value as whatever is in the `'Provider Business Mailing Address State Name'` column or a value of `'XX'` if there is no state information.

Set `answer` to be your final data frame with the new `'State'` column added.

In [ ]:
# We can fillna the state name and create a new column with the cleaned up state
full['State'] = full['Provider Business Mailing Address State Name'].fillna('XX')

answer = full
### END SOLUTION

In [ ]:
answer.query("State == 'XX'").head()

In [ ]:
answer.groupby('State').npi.count()

In [ ]:
assert(list(answer.groupby('State').npi.count()) == [111520, 53366, 4805, 24171])
assert(answer.shape == (193862, 104))

In [ ]:
answer.groupby('State').npi.count()

## Part 4

Next, let's summarize the data by year and by State.  Create a pivot table that contains one row for each state and one column for each year.  Within the pivot table, put a sum of total services as the values.

Assign `answer` to be that resulting pivot table.  In the tests, I'm going to plot a bar chart of your pivot table.

In [ ]:
%matplotlib inline

# And here, a simple pivot table to sum up the total services
pivot = full.pivot_table(index='State', columns='year', values='total_services', aggfunc=np.sum)
answer = pivot

In [ ]:
answer

In [ ]:
assert(answer.shape == (4,3))
assert(answer.sum().sum() == 519185664.6999999)
assert(answer[2016].sum() == 176596933.80000004)
assert(answer.loc['WY'].sum() == 10892707.4)

In [ ]:
%matplotlib inline
answer.plot.bar()

In [ ]:
answer.sum().sum()